body {
    background-color: gray;
    margin-top: 350px;
}

p {
    text-align: center;
}

label {
    text-align: center;
}

<<<<<<< HEAD
.navbar navbar-fixed-top{
    background-color:white;
}


=======
.navbar-header{
    background-color:gray;
}
>>>>>>> origin/Tyhorn


.logo:hover{
    opacity: 0.3;
}