body {
    background-color: gray;
    margin-top: 275px;
}

p {
    text-align: center;
}

label {
    text-align: center;
}

.input-group {
    margin: 10px
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 175px;
    max-width: 100%;
}

.row {
    margin-top: 10px;
}


.navbar-header{

background: black;
    
}